.user-input {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;

  .search {
    &-bar {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      input {
        width: 250px;
      }
    }

    &-results {
      height: 100px;
      overflow-y: scroll;
      margin: 20px 0;
    }

    &-result {
      display: flex;
      direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  .selections {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height: 150px;
  }

  .selection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 350px;

    &-crypto {
      width: 100px;
    }

    &-max-price {
      width: 200px;
    }
  }

  .days-range {
    color: darkgreen;
    font-weight: bold;
  }

  .chart-attributes {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      width: 80px;
    }
  }

  .btn-normalize {
    margin-top: 30px;
  }

  h2 {
    text-align: center;
  }

  button {
    background-color: limegreen;
    border-radius: 8px;
    height: 35px;
  }
}
